html,
body {
    background-color: #ffc0cb70;
}


/* navigation menu */


/* .nav-menu {
    height: 10vh;
} */


/* introduction to sneakers and jeans styling */

.intro-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

div.intro-header h3 {
    background-color: black;
    color: White;
    padding: 2px;
}


/* self-worth topic 1 styles */

.topic-heading, .topic-heading {
    text-align: center;
}


/* Homepage styling */

div.home-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

img.home-logo {
    object-fit: cover;
}

/* hotline-page styles */
.hotline-list {
    display: flex;
    flex-direction: column;
}

/* chapter page styling */
.chapter-card {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 5px;
    
}

.card-image {
    border-right: 1px solid black;
    width: 75%;
}

.card-text {
    padding: 10px;

    width: 100%;
}

.intro_image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #fff;
}

.intro_image img {
    size: 100%;
}